/* HEADERRRR */
body{
    /* background-color: rgb(246, 188, 231); */
    background-image: url(../images/rm113batch3-techi-87-bgframe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.headerflex {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

nav ul {
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 10px;
    padding-left: 70px;
}

li a {
    font-family: cursive;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    color: black;
    padding-right: 50px;
}

.just-a {
    padding-top: 45px;
}
a:hover {
    color: hotpink;
    text-decoration: underline;
}
.main-a:hover {
    color: rgb(186, 7, 100);
}
li .main-a {
    font-family:  'Caprasimo', cursive;
    font-size: 64px;
    color: black;
    text-align: center;
    padding-right: 50px;
    text-decoration: none;
}
.dreams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
}
.dreams h1{
    font-family: 'Tangerine', cursive;
    font-size: 62px;
    font-weight: 700;
}

/* SECTIONNN 1 */

.container {
    max-width: 1100px;
    margin: auto;
    border: 1px black solid;
}

.s1 {
    background-image: url(https://cutewallpaper.org/25/beautiful-wallpaper-for-desktop-pink/1934629369.jpg);
    filter: brightness(80%);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.divinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.divinfo h2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    font-weight: 400;
}

.divinfo p {
    font-size: 16px;
    padding-top: 10px;
}

.s2 {
    margin-top: 500px;
}